
/* Desktop (col-lg) 992px+ */
@media (min-width: 992px) {

}

/* Desktop e Tablets (col-md) 768px a 991px */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Tablets (col-sm) 576px a 767px */
@media (min-width: 576px) and (max-width: 767px) {

}

/* Tablets e Celulares (col) 0px a 767px */
@media (max-width: 767px) {

    .no-mobile {
        display: none!important;
    }

    .col-one {
        width: 100%;
        padding-left: 35px!important;
        padding-right: 35px!important;
    }

    .h1-tittle{

        padding-top: 30px;
        font-size: 60px;
    }

    .footer h1{
        text-align: center;
    }


    .navbar{
        width: 360px;
    }

    #logo{
        margin-left: 0px;
        
    }

    .nav-link{
        margin-right: 0px;
        text-align: end;
    }

    #home{
        padding-top: 100px;
    }

    .home-3{
        margin-top: 50px;
        text-align: center;
        margin-bottom: 30px;
    }

    #containerSobreH2{

        text-align: center;
    }


    .btns-download{
        display: flex;
        flex-direction: column;
    }

    .btns-download .btn{

        margin: 10px;
    }


    .skills-container {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .container-projetos{
        overflow-x: auto;
        overflow-y: hidden;
    }

    .projeto{
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .projeto span i{
        display: inline;
      margin-top: 30px;
    }

   
    /* ecplise email nao deixa responsivo*/

    .eclipse{
        width: 70px;
        height: 70px;
    }

    .eclipse span i{
        font-size: 20px;
    }
    .contato-eclipse h4{
        font-size: 13px;
    }

    .links-footer{
        margin-bottom: 10px;
        text-align: center;
    }

    .footer h5{
        margin-top: 30px;
    }





    /*Reponsividade Projeto*/

    
}





